= simple_form_for(page, (EffectivePages.simple_form_options || {}).merge(:url => (page.persisted? ? effective_pages.admin_page_path(page.id) : effective_pages.admin_pages_path))) do |f|
  = f.input :title, :hint => "Give this page a title"
  = f.input :draft, :hint => "Save this page as a draft.  It will not be accessible on the website."
  = f.input :just_a_chunk, :hint => "Save this page as a chunk.  It will only appear as a section inside its parent page. Cannot navigate directly to the slug."
  = f.input :sort_order, hint: 'Used to sort child pages when being rendered by a parent.'

  = f.input :thumbnail, hint: 'Upload image.'
  - if f.object.thumbnail.exists?
    %p
      = image_tag f.object.thumbnail.url
      = f.input :delete_thumbnail, as: :boolean
  - else
    %p No image uploaded.

  - if !f.object.new_record? || f.object.errors.include?(:slug)
    - current_url = (effective_pages.page_url(f.object) rescue nil)
    = f.input :slug, :hint => slug_hint(f.object).html_safe
    = f.input :override_url
  = f.input :meta_description, :hint => "A one or two sentence summary of this page. Appears on Google search results underneath the page title."
  = f.input :show_children, :hint => "Render the child link menu."
  = f.input :parent_id, collection: Effective::Page.order(:title), label_method: :title, value_method: :id

  - if EffectivePages.pages.length == 1
    = hidden_field_tag :template, EffectivePages.pages.keys.first, name: 'effective_page[template]'
  - else
    = f.input :template, :as => :select, :collection => EffectivePages.pages, :include_blank => false

  - if EffectivePages.layouts.length == 1
    = hidden_field_tag :layout, EffectivePages.layouts.keys.first, name: 'effective_page[layout]'
  - else
    = f.input :layout, :as => :select, :collection => EffectivePages.layouts, :include_blank => false

  - if f.object.respond_to?(:roles)
    = f.input :roles, :collection => EffectiveRoles.roles_collection(f.object), :as => :check_boxes, :hint => '* leave blank for a regular public page that anyone can view'

  .form-group
    .col-xs-12
      .form-group
        .pull-right
          = f.button :submit, 'Save', data: { disable_with: 'Saving...' }
          - if defined?(EffectiveRegions)
            = f.button :submit, 'Save and Edit Content', data: { disable_with: 'Saving...' }
          = f.button :submit, 'Save and Add New', data: { disable_with: 'Saving...' }
          = link_to 'Cancel', effective_pages.admin_pages_path
